{% extends "base.html" %}
{% block content %}
    <!-- Posts Preview -->
    {% for page in pages %}
        <div class="post-preview">
            <a href="{{ url_for('page', path=page.path) }}">
                <h2 class="post-title">{{ page.meta.title }}</h2>
            </a>
            <p class="post-meta">Posted by Adriana Vasiu on {{ page.meta.date }}</p>
        </div>
        <hr>
    {% endfor %}
    <!-- Pager -->
    <div class="clearfix">
    <a class="btn btn-primary float-right" href="#">Older Posts &rarr;</a>
    </div>
{% endblock %}